body {
	margin: 0px;
	background-color: black;
  	font-family: Besley, serif;
}

.images {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.row1 {
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	flex-end;
}

.row2 {
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	flex-end;
}

.row3 {
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	flex-end;
}


.item1 {
	border: 2px solid red;
	color: red;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 200px;
	width: 200px;
	margin: 10px;
}


}

#gallery {
	flex-direction: column;
	display: flex;
	flex: 2;
}

.profile {
	flex-direction: column;
	display: flex;
	flex: 1;
}

.img {
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 600px;
}

.caption {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 600px;
	border: 2px solid red;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	color: red;
}

.description {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: 600px;
	color: red;
	font-size: 20px;
}

.divide {
	display: flex;
	flex-direction:row;
}



.header {
  background: black;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.profile-image {
  background: red;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

#circle {
	border-radius: 21px;
}

.logo {
  color: red;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: red;
  color: black;
  padding: 8px 24px;
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: red;
  margin-left: 16px;
}

ul {
  list-style-type: none;
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#left {
	display: flex;
	align-items: center;
}

#right {
	display: flex;
	align-items: center;
}

