body {
    font-family: Georgia, serif;
    background-color: #0a0a0a;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    background-color: #1a1a1a;
    color: #d4af37;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    border-bottom: 3px solid #d4af37;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: #d4af37;
    background-color: #292929;
    font-size: 25px;
    border-bottom: 3px solid #d4af37;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #d4af37;
    border-radius: 10px;
    padding: 15px;
    margin: 20px; 
    background-color: #292929;
    box-shadow: 0 4px 8px black;
    margin-bottom: 20px;
}

.hand h2 {
    color: #d4af37;
    font-size: 30px;
    margin: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 15px; 
    border-radius: 5px;
/*    flex-wrap: wrap;*/
}

.card {
    width: 150px;
    height: 210px; 
    background-color: #fff;
    background-size: cover;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px black;
}

.score {
    font-size: 25px;
    color: #d4af37;
    margin: 5px; 
}

.message {
    text-align: center;
    padding: 10px;
    background-color: #333;
    border: 1px solid #d4af37;
    color: #d4af37;
    font-size: 30px;
    border-radius: 5px;
    margin: 5px;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding: 10px; 
    margin: 5px 0; 
}

button {
    padding: 5px 15px;
    cursor: pointer;
    background-color: #d4af37;
    color: #0a0a0a;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

button:hover {
    background-color: #c5a035;
}
